@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@200&family=Open+Sans:ital@1&family=Playfair+Display&family=Prosto+One&family=Ubuntu:wght@300&display=swap');
*{
 margin: 0;
 padding: 0;
}
body{
 background-color: rgb(53, 51, 51);
}

#navbar{
  display: flex;
  background-color: rgb(230, 221, 221);
  align-items: center;
  min-height:50px ;
}
#navbar img {
    height: 44px;
    width: 45px;
    border-radius: 34px;
    margin-left: 6px;
}
.navData{
 display: flex;
}
.navData li {
    list-style: none;
    text-decoration: none;
    margin: 5px 45px;
    margin-bottom: 7px;
    font-family: 'Ubuntu', sans-serif;
}
#song {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.bottom{
 position: absolute;
 bottom: 0px;
  
  height: 112px;
  background-color: rgb(139, 130, 132);
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
 
}
#bar{
  width: 80vw;
  cursor: pointer;
}
.icons{
  margin-top: 12px;
  
}
.icons i{
  cursor: pointer;
  
}

.container{
  /* background-color: rgb(213, 129, 19); */
  margin: 23px auto; 
  width: 75%;
  height: 524px;
  border-radius: 15px;
  background: url("bg.jpg")no-repeat center center /cover  ;
  text-align: center;
}

.songList{
  color: white;
  
  /* background-color: rgb(222, 119, 60); */

  
  
 
}
.songList img{
 width: 30px;
 margin-left: 12px;
 border-radius: 12px;
}
.songItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px 0px;
  background-color: rgb(228, 115, 95);
  border-radius: 13px;
  width: 50%;

}

.songinfo{
  position: absolute;
  left: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.songinfo img{
  width: 30px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  
 }
.songlistplay{
  margin-right: 23px;
}

.container h1{
   color: rgb(59, 187, 187);
}